/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/SignOut.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* styles/SignOut.module.css */
.SignOut_signOutContainer__C9lXb {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--gray-900); /* Assuming this is a darker shade defined in your root or globals.css */
  }
  
  .SignOut_signOutBox__d5uIR {
    background-color: var(--gray-800); /* Assuming this is a shade defined in your root or globals.css */
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px; /* Adjust width as necessary */
  }
  
  .SignOut_signOutButton__D9Tds {
    width: 100%;
    background-color: var(--ucla-blue);
    color: var(--white);
    padding: var(--spacing-medium) var(--spacing-large);
    font-size: var(--font-size-base);
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .SignOut_signOutButton__D9Tds:hover {
    background-color: var(--ucla-gold);
    color: var(--dark-blue);
    transform: translateY(-2px);
  }
  
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/Profile.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* src/app/styles/Profile.module.css */
.Profile_podiumMessage__SecS5,
.Profile_title___U34i {
  text-align: center;
  /* Center the text */
  color: #4b5b7e;
  /* Set text color to white */
  margin-bottom: 20px;
  /* Add margin to create space below the title, adjust as needed */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  /* Add a subtle 3D text shadow */
}

.Profile_formLabelCont__re9qW {
  margin-right: 5px;
}

.Profile_updateSwipes__eBfEh {
  padding-top: 5px;
  font-size: small;
}


.Profile_formContainer__yRtO8 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 0px;
  /* Add margin to separate the form from buttons */
}


.Profile_container__uj2sI {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.Profile_buttonGroup__uCV6g {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

}

.Profile_button__dqKPS {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.Profile_button__dqKPS:hover {
  transform: scale(1.1);
  background-color: #8BB8E8;
  color: #fff;
}

.Profile_saveButton__FarTj {
  /* Added class for the Save button */
  background-color: #c4f2c4;
  /* Light green color */
  color: #000;
  margin-top: 5px;

  /* Black text color, adjust as needed */
}

.Profile_saveButton__FarTj:hover {
  background-color: #90ee90;
  /* Darker shade on hover, adjust as needed */
}

.Profile_table__2_h_w {
  border-collapse: collapse;
  width: 100%;
}

.Profile_table__2_h_w th:hover,
.Profile_table__2_h_w td:hover,
.Profile_table__2_h_w .Profile_hoverable__5_Ifp:hover {
  transform: scale(1.1);
}

/* Apply common styles to th and td */
.Profile_table__2_h_w th,
.Profile_table__2_h_w td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 100px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  /* Added transition */
}

.Profile_adjustButtons__matGr {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.Profile_adjustButtons__matGr button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.2em;
  transition: transform 0.3s;
}

.Profile_adjustButtons__matGr button:hover {
  transform: scale(1.1);
}

.Profile_standings__DNygm {
  display: flex;
  justify-content: space-between;
}

.Profile_standingsItem__k9Zwg {
  text-align: center;
}

.Profile_arrow__kAJLJ {
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s;
}

.Profile_arrow__kAJLJ:hover {
  color: #e74c3c;
}

.Profile_selected__UqM_A {
  background-color: #8BB8E8;
  color: #fff;
}

.Profile_message__ageNh {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.Profile_message__ageNh:hover {
  background-color: #ddd;
}

.Profile_podium__Hhpbe {
  display: flex;
  align-items: flex-end;
  /* justify-content: space-around; */
  margin-right: 10px;
  justify-content: center;

}

/* Adjust podium block styles for gold, silver, and bronze */
.Profile_podiumBlock__9po3M {
  width: 100px;
  text-align: center;
  color: white;
  margin-right: 10px;
  /* Adjust the negative margin to make podium blocks touch */
}

.Profile_podiumBlock1__HoSNG {
  height: 200px;
  background-color: gold;
  /* Change the color to gold for the first place */
  order: 2;
}


.Profile_podiumBlock2__aw34e {
  height: 130px;
  background-color: silver;
  /* Change the color to silver for the second place */
  order: 1;
}

.Profile_podiumBlock3__k63RC {
  height: 90px;
  background-color: #cd7f32;
  /* Change the color to bronze for the third place */
  order: 3;
}

.Profile_customP__eNh56 {
  /* Reset to default styles of p tag */
  color: black;
  font-weight: 80;
}

.Profile_customP1___tRHw {
  /* Reset to default styles of p tag */
  color: black;
  font-weight: 80;
  margin-bottom: 40px;
}

.Profile_explanationBox__IUsL7 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}


.Profile_explanationText__Zmrdt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/Navbar.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* styles/Navbar.module.css */
.Navbar_navbar__vqhjI {
  background-color: var(--ucla-blue);
  padding: var(--spacing-medium) var(--spacing-large);
  font-size: 18px; /* Slightly reduced for a more balanced look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  display: flex;
  justify-content: center; /* Ensures the nav content is centered */
  align-items: center;
  min-height: 8vh;
}

.Navbar_navList__hbwEz {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.Navbar_navItem__w5mON {
  margin: 0 var(--spacing-medium); /* Increased spacing for better separation */
}

.Navbar_navLink__CdrRi {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  padding: var(--spacing-small) var(--spacing-medium); /* Added padding for a larger clickable area */
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.Navbar_navLink__CdrRi:hover, .Navbar_navLink__CdrRi:focus {
  background-color: var(--ucla-gold); /* Subtle background color on hover/focus */
  color: var(--dark-blue); /* Contrast color for better visibility */
  text-decoration: none; /* Ensures text-decoration does not re-appear on hover/focus */
}

