/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/Calendar.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Calendar_Calendar__A_WpC td{
    padding: 7px;
    vertical-align: top;
    justify-content: center;
    text-align: center; /* Center the content horizontally */
    border: 1px solid #ddd;
  } 

  .Calendar_CalendarTop__iBsCP td{
    padding: 0px;
    vertical-align: top;
    justify-content: center;
    text-align: center; /* Center the content horizontally */
    border: 1px solid #ddd;
  } 

  .Calendar_Button__3ibbE {
    margin: 3px;
    padding: 10px 15px; /* Top and bottom padding is 10 pixels, left and right padding is 15 pixels */
  } 

  .Calendar_Padding__ryJC4{
    padding: 15px 15px;
  }

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/SignOut.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* styles/SignOut.module.css */
.SignOut_signOutContainer__C9lXb {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--gray-900); /* Assuming this is a darker shade defined in your root or globals.css */
  }
  
  .SignOut_signOutBox__d5uIR {
    background-color: var(--gray-800); /* Assuming this is a shade defined in your root or globals.css */
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px; /* Adjust width as necessary */
  }
  
  .SignOut_signOutButton__D9Tds {
    width: 100%;
    background-color: var(--ucla-blue);
    color: var(--white);
    padding: var(--spacing-medium) var(--spacing-large);
    font-size: var(--font-size-base);
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .SignOut_signOutButton__D9Tds:hover {
    background-color: var(--ucla-gold);
    color: var(--dark-blue);
    transform: translateY(-2px);
  }
  
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/Wheel.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
/* styles/Wheel.module.css */

.Wheel_Wheel__lOw3J {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/Navbar.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* styles/Navbar.module.css */
.Navbar_navbar__vqhjI {
  background-color: var(--ucla-blue);
  padding: var(--spacing-medium) var(--spacing-large);
  font-size: 18px; /* Slightly reduced for a more balanced look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  display: flex;
  justify-content: center; /* Ensures the nav content is centered */
  align-items: center;
  min-height: 8vh;
}

.Navbar_navList__hbwEz {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.Navbar_navItem__w5mON {
  margin: 0 var(--spacing-medium); /* Increased spacing for better separation */
}

.Navbar_navLink__CdrRi {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  padding: var(--spacing-small) var(--spacing-medium); /* Added padding for a larger clickable area */
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.Navbar_navLink__CdrRi:hover, .Navbar_navLink__CdrRi:focus {
  background-color: var(--ucla-gold); /* Subtle background color on hover/focus */
  color: var(--dark-blue); /* Contrast color for better visibility */
  text-decoration: none; /* Ensures text-decoration does not re-appear on hover/focus */
}

