/* components/Menu.module.css */
.menu {
    background-color: var(--light-gray);
    border-radius: var(--border-radius);
    padding: var(--spacing-medium);
    display: flex;
    justify-content: space-around; /* Distribute space evenly around meal sections */
    flex-wrap: wrap; /* Ensure responsiveness */
    margin-top: var(--spacing-large);
  }
  
  .menuTitle {
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: var(--spacing-large);
    width: 100%; /* Ensure the title spans the full width */
  }
  
  .mealSection {
    width: 30%; /* Adjust based on preference and available space */
    margin-bottom: var(--spacing-large);
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .mealSection:hover {
    transform: scale(1.05); /* Slightly enlarge sections on hover */
  }
  
  .mealSection h3 {
    color: var(--ucla-blue);
    margin-bottom: var(--spacing-small);
    transition: color 0.3s ease; /* Smooth transition for text color change */
  }
  
  .mealSection:hover h3 {
    color: var(--ucla-gold); /* Change color on hover */
  }
  
  .mealSection ul {
    list-style-type: none;
    padding: 0;
  }
  
  .mealSection ul li {
    background-color: var(--white);
    margin-bottom: var(--spacing-small);
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions for hover effects */
  }
  
  .mealSection ul li:hover {
    background-color: var(--ucla-blue); /* Change background color on hover */
    color: var(--white); /* Change text color on hover */
    transform: translateY(-2px); /* Slightly raise the item */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .mealSection {
      width: 100%; /* Stack meal sections vertically on smaller screens */
      margin-bottom: var(--spacing-medium);
    }
  }
  