/* components/Navbar.module.css */
.navbar {
    background-color: var(--ucla-blue);
    padding: var(--spacing-medium);
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .navItem {
    margin: 0 var(--spacing-small);
  }
  
  .navLink {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  