.Calendar td{
  padding: 7px;
  vertical-align: top;
  justify-content: center;
  text-align: center; /* Center the content horizontally */
  border: 1px solid #ddd;
} 

.CalendarTop td{
  padding: 0px;
  vertical-align: top;
  justify-content: center;
  text-align: center; /* Center the content horizontally */
  border: 1px solid #ddd;
} 

.Button {
  margin: 3px;
  padding: 10px 15px; /* Top and bottom padding is 10 pixels, left and right padding is 15 pixels */
} 

.UpdateButton {
  display: flex;
  justify-content: center;
  margin: 3px;
  padding: 10px 45px; 
  /* Top and bottom padding is 10 pixels, left and right padding is 15 pixels */
} 

.UpdateContainer {
  display: flex;
  justify-content: center;
  margin: 3px;
  padding: 10px 45px; 
  /* Top and bottom padding is 10 pixels, left and right padding is 15 pixels */
} 

.Padding{
  padding: 15px 15px;
}

.CenterText{
  display:flex;
  justify-content: center;
}

.Welcome{
  display:flex;
  justify-content: center;
  margin-top: 20px;
}

.Button:hover {
  transform: scale(1.1);
  background-color: #8BB8E8;
  color: #fff;
}

.UpdateButton:hover {
  transform: scale(1.1);
  background-color: #8BB8E8;
  color: #fff;
}

.explanationBox {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}


.explanationText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.p1 {
  color: var(--dark-gray); /* Utilizes the dark gray color for text */
  font-size: 1rem; /* Maintains a readable font size */
  line-height: 1.75; /* Improves readability by increasing line height */
  margin-bottom: 1.5rem; /* Adds spacing below paragraphs */
   /* Controls the maximum width of text lines for readability */
  padding: 2rem; /* Adds internal spacing for the paragraph */
  background-color: var(--light-gray); /* Light gray background for soft contrast */
  border-left: 5px solid var(--ucla-blue); /* Stylistic accent line using UCLA Blue */
  border-radius: var(--border-radius); /* Applies border-radius for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}