/* styles/Home.module.css */
.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;  /* Enable flex for row layout */
    flex-direction: column;  /* Stack components vertically */
    justify-content: center;  /* Center content vertically */
    align-items: center;  /* Center content horizontally */
}

.header-container {
    text-align: center;  /* Center the title text */
  }


.title {
    line-height: 1.15;
    font-size: 4rem;
    margin-bottom: var(--spacing-medium);
    margin-top: 0;
}

.swipeTracker, .balanceInfo {
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    color: inherit;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}


.swipeTracker:hover, .swipeTracker:focus, 
.balanceInfo:hover, .balanceInfo:focus {
    color: #0070f3;
    border-color: #0070f3;
}

.sideBySide {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* Define two grid columns */
    grid-gap: 1rem;  /* Add spacing between grid items */
    margin: 0 auto;  /* Center container horizontally on the page */
    width: fit-content;  /* Adjust container width to fit content */
  }

/* Example media query in ui/Home.module.css */
@media (max-width: 768px) {
    .main {
        padding: 1rem; /* Adjust padding for smaller screens */
    }
    /* Add more responsive styles as needed */
}