/* src/app/styles/Profile.module.css */
.podiumMessage,
.title {
  text-align: center;
  /* Center the text */
  color: #4b5b7e;
  /* Set text color to white */
  margin-bottom: 20px;
  /* Add margin to create space below the title, adjust as needed */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  /* Add a subtle 3D text shadow */
}

.formLabelCont{
  margin-right: 5px;
}

.updateSwipes{
  padding-top: 5px;
  font-size: small;
}

.formContainer {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  /* Add margin to separate the form from buttons */
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  
}

.button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
  background-color: #8BB8E8;
  color: #fff;
}

.saveButton {
  /* Added class for the Save button */
  background-color: #c4f2c4;
  /* Light green color */
  color: #000;
  margin-top: 5px;
  
  /* Black text color, adjust as needed */
}

.saveButton:hover {
  background-color: #90ee90;
  /* Darker shade on hover, adjust as needed */
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th:hover,
.table td:hover,
.table .hoverable:hover {
  transform: scale(1.1);
}

/* Apply common styles to th and td */
.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 100px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  /* Added transition */
}

.adjustButtons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.adjustButtons button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.2em;
  transition: transform 0.3s;
}

.adjustButtons button:hover {
  transform: scale(1.1);
}

.standings {
  display: flex;
  justify-content: space-between;
}

.standingsItem {
  text-align: center;
}

.arrow {
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s;
}

.arrow:hover {
  color: #e74c3c;
}

.selected {
  background-color: #8BB8E8;
  color: #fff;
}

.message {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.message:hover {
  background-color: #ddd;
}

.podium {
  display: flex;
  align-items: flex-end;
  /* justify-content: space-around; */
  margin-right: 10px;
  justify-content: center;
  
}

/* Adjust podium block styles for gold, silver, and bronze */
.podiumBlock {
  width: 100px;
  text-align: center;
  color: white;
  margin-right: 10px;
  /* Adjust the negative margin to make podium blocks touch */
}

.podiumBlock1 {
  height: 200px;
  background-color: gold;
  /* Change the color to gold for the first place */
  order: 2;
}

.podiumBlock2 {
  height: 130px;
  background-color: silver;
  /* Change the color to silver for the second place */
  order: 1;
}

.podiumBlock3 {
  height: 90px;
  background-color: #cd7f32;
  /* Change the color to bronze for the third place */
  order: 3;
}