/* styles/Wheel.module.css */

.Wheel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  