/* styles/Wheel.module.css */

.Wheel {
  display: flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  align-items: center;
  text-align: right;
  justify-content: center;
  margin-left: 200px;

}

.PaddedText{
  display:flex;
  justify-content: center;
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: -20px;
}